<script>

    function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 46) {
    return false;
    }

    return true;
    }
</script>    


<section ng-controller="addClientCtrl"  class="uk-section uk-section-small uk-background-cover uk-background-top-center" style="margin-top: -111px; padding-top: 145px;">
    <div class="uk-container uk-container-small">

        <div class="uk-grid uk-grid-small uk-text-center">
            <div class="uk-width-1-6@s"></div>
            <div class="uk-width-2-3@s">
                <h3 class="nomarginb">Añade CLABE interbancaria</h3>
                <h4 class="infohome">Es importante que verifiques ésta información, pues es la cuenta a la que se te pagará. (Sólo válido en México)</h4>
            </div>
            <div class="uk-width-expand"></div>
        </div>
         <br><br>
        <div class="uk-grid uk-grid-small">
           
            <!-- Contact Form -->
            <form novalidate name="form"  ng-submit="edit(form)" class="uk-form uk-width-1-1 bx_formulario">


                <div class="uk-width-1-1@m">
                    <div class=" input-group">
                        <input name="clabe "ng-model="clabe" class="uk-input"  ng-blur="$clabeTouched = true" onkeypress="return isNumber(event)" type="text" placeholder="CLABE INTERBANCARIA"  maxlength="18">
                    </div>
                    <div ng-show="$clabeTouched">
                        <span class="msjValid" ng-show="form.clabe.$invalid">Por favor ingresa la clabe interbancaria</span>
                    </div>
                </div>
                <div class="uk-grid-medium uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <button id="botonSubmit" ng-disabled="form.$invalid" class="nomargint" type="submit" name="submitName" >Añadir</button>

                    </div>

                </div>
                <br><br>



            </form>

        </div>
    </div>
</section>


