<section class="uk-section uk-section-large uk-background" style="background: #ffb930;">
    <div class="uk-container uk-container-small">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <h3 class="nomarginb slogan">Encuentra un hogar a tu medida con roomies a tu medida</h3>
                <div class="uk-width-1-1@m">
                    <a id="findButtonFull" class="uk-button btn-anadir" href="#/find"><i class="uk-icon-search"></i> Búsqueda</a>
                    <a id="findButtonMob"  class="uk-button btn-anadir" href="#/findMobile" ><i class="uk-icon-search"></i> Búsqueda</a>
                </div>
                <br><br>



                <video playsinline muted loop controls controlsList="nodownload" uk-video="autoplay: inview">
                    <source src="img/roomiewo.mp4" type="video/mp4">
                </video>

                <br><br>
                <h3 class="nomarginb">¿Porqué ser un roomie of the world?</h3>
                <ul class="features">
                    <li><span class="i-plus"></span> Mayor seguridad</li>
                    <li><span class="i-plus"></span> Opciones a tu medida</li>
                    <li><span class="i-plus"></span> Comparte gastos</li>
                    <li><span class="i-plus"></span> Viviendas amuebladas</li>
                    <li><span class="i-plus"></span> Elige con quien vivir</li>
                    <li><span class="i-plus"></span> Sin necesidad de aval</li>
                </ul> 





            </div>


        </div>

        <div class="uk-grid-small" uk-grid style="margin-top: 85px;">

            <div  class="uk-width-1-2@m">
                <div class="uk-background-cover" style="background-image: url(img/registra.png); min-height: 410px">
                    <a class="registracard"  href="#/altaResponsable" >
                        <div class="uk-card uk-card-default uk-card-large uk-card-body">
                            <p>Registra</p>
                        </div>
                    </a>
                </div>
            </div>
            <div  class="uk-width-1-2@m">
                <div class="uk-background-cover" style="background-image: url(img/busca.png); min-height: 410px">
                    <a class="registracard"  href="#/viviendas">
                        <div class="uk-card uk-card-default uk-card-large uk-card-body">
                            <p>Busca</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-controller="sessionInterceptor"></div>
<!----------------------------------------------------------------------------------- -->

<section class="uk-section uk-section-large uk-background-cover uk-background-top-center" style="background-image: url(images/bg-section2.jpg);">
    <div class="uk-container uk-container-small uk-text-center">
        <h3 class="nomarginb">Tenemos una opción adecuada para ti</h3>
        <h4 class="infohome">Busca entre miles de cuartos y roomies, y comparte nuevas historias con gente increíble</h4>
        <div class="uk-child-width-1-4@m uk-grid-large" uk-grid style="margin-top: 65px;">
            <div class="uk-text-left uk-animation-toggle pasos">
                <div class="uk-card uk-card-default uk-card-large uk-card-body customcard purple uk-animation-shake">
                    <div class="uk-card-badge uk-label">+</div>
                    <h3 class="nomarginb" style="line-height: 1; color: #fff !important ">01<br>
                        Crea</h3>
                    <p>tu perfil</p>
                </div>
            </div>
            <div class="uk-text-left uk-animation-toggle pasos">
                <div class="uk-card uk-card-default uk-card-large uk-card-body customcard yellow uk-animation-shake">
                    <div class="uk-card-badge uk-label">+</div>
                    <h3 class="nomarginb" style="line-height: 1; color: #fff">02<br>
                        Encuentra</h3>
                    <p>un hogar a tu medida</p>
                </div>
            </div>
            <div class="uk-text-left uk-animation-toggle pasos">
                <div class="uk-card uk-card-default uk-card-large uk-card-body customcard green uk-animation-shake">
                    <div class="uk-card-badge uk-label">+</div>
                    <h3 class="nomarginb" style="line-height: 1; color: #fff">03<br>
                        Conecta</h3>
                    <p>con tu roomie ideal</p>
                </div>
            </div>
            <div class="uk-text-left uk-animation-toggle pasos">
                <div class="uk-card uk-card-default uk-card-large uk-card-body customcard red uk-animation-shake">
                    <div class="uk-card-badge uk-label">+</div>
                    <h3 class="nomarginb" style="line-height: 1; color: #fff !important">04<br>
                        Comparte</h3>
                    <p>Experiencias</p>
                </div>
            </div>
        </div>

        <div class="uk-child-width-1-1@m uk-grid-large" uk-grid style="margin-top: 65px;">
            <div class="uk-width-1-1@m">
                <div class="uk-background-cover" style="min-height: 210px">
                    <a class="descubrecard" href="https://play.google.com/store/apps/details?id=com.roomies.roomiesoftheworld">
                        <img src="images/getonandroid.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------------------------------------------------------------------------------- --> 

<section ng-controller="patronCtrl" class="uk-section uk-section-large uk-background-cover uk-background-bottom-center" style="background-image: url(images/descubre-bg.png);">
    <div class="uk-container uk-container-small">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <h3 class="nomarginb" style="color: #fff !important; ">¡Encuentra tu nuevo hogar!</h3>
                <h4 class="infohome">Descubre las opciones que tenemos y encuentra una a tu medida</h4>
                <div class="uk-grid-small list-images" uk-grid style="margin-top: 85px;">

                    <div ng-repeat="x in patron" class="uk-width-1-2@m">
                            <div class="uk-background-cover" style="background-image: url(../../../uploads/{{x.portada}}); min-height: 210px">
                                <a class="descubrecard"  ng-click="loadDetalle(x.idVivienda);" >
                                    <div class="uk-card uk-card-default uk-card-large uk-card-body">
                                        <p>Más información</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-center">
                    <a class="uk-button btn-descubre" href="#/viviendas">¡Descubre!</a>
                </div>
            </div>
        </div>
    </section>

    <!----------------------------------------------------------------------------------------------------- -->

    <section class="uk-section uk-section-large">
        <div class="uk-container uk-container-small">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-left compara">
                    <h3>Conoce a <span style="color: #ffb930;">tu </span> roomie soñado</h3>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-center">
                    <div class="cellphone">
                        <img src="images/iPhoneROW.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------------------------------------------------------------  -->

    <section class="uk-section uk-section-large uk-background-cover uk-background-top-center" style="background-image: url(images/contacto-bg.png); margin-top: -210px; padding-top: 230px;">
        <div class="uk-container uk-container-small">
            <div class="uk-grid">
                <div ng-controller="counterCtrl" class="uk-width-1-1 uk-text-center">
                    <h3 class="nomarginb" style="font-size: 2.5rem; color: #fff;">¿Quieres ser anfitrión?</h3>
                    <h4 class="infohome" style="color: #fff !important;">Es muy facil, solo debes completar el siguiente formulario</h4>
                    <div>
                        <a class="uk-button btn-descubre morado" href="#/altaResponsable">¡Registrate!</a>
                    </div>
                    <div class="logo">
                        <img src="images/logo.png" />
                    </div>
                    <h3>
                        <div>Sé parte de esta gran comunidad</div>
                        <div style="color: #fff; font-family: 'Gotham-Bold';">Tenemos más de:</div>
                    </h3>

                    <ul class="uk-text-center uk-grid-medium" uk-grid>
                        <li class="uk-width-1-3@m">
                            <div class="nro">{{houseCount}}</div>
                            <h3 class="nomargint">Viviendas</h3>
                        </li>
                        <li class="uk-width-1-3@m">
                            <div class="nro">{{roomCount}}</div>
                            <h3 class="nomargint">Habitaciones</h3>
                        </li>
                        <li class="uk-width-1-3@m">
                            <div class="nro">{{userCount}}</div>
                            <h3 class="nomargint">Roomies</h3>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <script>
        var wi = screen.width;
        if (wi < 638) {

        document.getElementById("findButtonFull").style.display = "none";
        }
        else{


        document.getElementById("findButtonMob").style.display = "none";
        }
    </script>
