
    <section class="uk-section uk-section-small">
        <div class="uk-container uk-container-small">

                <div class="uk-grid" uk-grid>
                    <!-- Inicia Panel Izquierdo -->
                    <div class="uk-width-1-4@m ">
                        <div class="sidebar">
                            <h3 class="uk-text-center panel-title nomarginb">@Usuario123</h3>
                            <div class="uk-navbar-container">
                                <div class="uk-navbar-center" style="background: #f2f2f2;">
                                    <ul class="uk-navbar-nav uk-width-1-1 uk-flex-around estrellas smallmargin">
                                        <li class="uk-active">
                                            <span uk-icon="icon: star; ratio: 1.3" ></span>
                                        </li>
                                        <li class="uk-active">
                                            <span uk-icon="icon: star; ratio: 1.3"></span>
                                        </li>
                                        <li class="uk-active">
                                            <span uk-icon="icon: star; ratio: 1.3"></span>
                                        </li>
                                        <li class="uk-active">
                                            <span uk-icon="icon: star; ratio: 1.3"></span>
                                        </li>
                                        <li>
                                            <span uk-icon="icon: star; ratio: 1.3"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <ul class="uk-iconnav uk-iconnav-vertical menupanel">
                                <li class="active">
                                    <a href="#">
                                        <i class="uk-icon uk-icon-image" style="background-image: url(images/icons/user.png);"></i>
                                        Mi Perfil
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="uk-icon uk-icon-image" style="background-image: url(images/icons/inbox.png);"></i>
                                        Inbox
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="iconHeart" uk-icon="icon: heart"></span>
                                        Favoritos
                                    </a>
                                    <ul class="uk-nav uk-nav-default">
                                        <li class="uk-nav-divider"></li>
                                        <li>
                                            <a href="#">
                                                Mis Solicitudes
                                                <span class="notificacion">2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Mi Vivienda
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Termina panel izquierdo - Inicia panel derecho -->
                    <div class="uk-width-3-4@m">
                                <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-text-center uk-grid-small" uk-grid>
                                    <div>
                                        <a class="viviendacard" href="#">
                                            <div class="uk-background-cover casacard" style="background-image: url(images/img_home_ex1.png);">
                                                
                                                    <div class="uk-card uk-card-large uk-card-body">
                                                        <p>Ver más</p>
                                                    </div>
                                            </div>
                                            <div class="footerViviendas uk-width-1-1">
                                                    <div class="uk-float-left" style="margin-top: 6px">
                                                        <p class="nomarginb">Casa de los dibujos</p>
                                                        <p class="nomargint uk-text-left">Inquilinos: (4)</p>
                                                    </div>

                                                    <div class="uk-navbar-container uk-float-right" style="margin-top: 5px">
                                                        <div class="uk-navbar-center" style="background: #fff;">
                                                            <ul class="uk-navbar-nav uk-width-1-1 uk-flex-around stars nomargint">
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5" ></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li>
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="viviendacard" href="#">
                                            <div class="uk-background-cover casacard" style="background-image: url(images/img_home_ex1.png);">
                                                
                                                    <div class="uk-card uk-card-large uk-card-body">
                                                        <p>Ver más</p>
                                                    </div>
                                            </div>
                                            <div class="footerViviendas uk-width-1-1">
                                                    <div class="uk-float-left" style="margin-top: 6px">
                                                        <p class="nomarginb">Casa de los dibujos</p>
                                                        <p class="nomargint uk-text-left">Inquilinos: (4)</p>
                                                    </div>

                                                    <div class="uk-navbar-container uk-float-right" style="margin-top: 5px">
                                                        <div class="uk-navbar-center" style="background: #fff;">
                                                            <ul class="uk-navbar-nav uk-width-1-1 uk-flex-around stars nomargint">
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5" ></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li>
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="viviendacard" href="#">
                                            <div class="uk-background-cover casacard" style="background-image: url(images/img_home_ex1.png);">
                                                
                                                    <div class="uk-card uk-card-large uk-card-body">
                                                        <p>Ver más</p>
                                                    </div>
                                            </div>
                                            <div class="footerViviendas uk-width-1-1">
                                                    <div class="uk-float-left" style="margin-top: 6px">
                                                        <p class="nomarginb">Casa de los dibujos</p>
                                                        <p class="nomargint uk-text-left">Inquilinos: (4)</p>
                                                    </div>

                                                    <div class="uk-navbar-container uk-float-right" style="margin-top: 5px">
                                                        <div class="uk-navbar-center" style="background: #fff;">
                                                            <ul class="uk-navbar-nav uk-width-1-1 uk-flex-around stars nomargint">
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5" ></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li>
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="viviendacard" href="#">
                                            <div class="uk-background-cover casacard" style="background-image: url(images/img_home_ex1.png);">
                                                
                                                    <div class="uk-card uk-card-large uk-card-body">
                                                        <p>Ver más</p>
                                                    </div>
                                            </div>
                                            <div class="footerViviendas uk-width-1-1">
                                                    <div class="uk-float-left" style="margin-top: 6px">
                                                        <p class="nomarginb">Casa de los dibujos</p>
                                                        <p class="nomargint uk-text-left">Inquilinos: (4)</p>
                                                    </div>

                                                    <div class="uk-navbar-container uk-float-right" style="margin-top: 5px">
                                                        <div class="uk-navbar-center" style="background: #fff;">
                                                            <ul class="uk-navbar-nav uk-width-1-1 uk-flex-around stars nomargint">
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5" ></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li>
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="viviendacard" href="#">
                                            <div class="uk-background-cover casacard" style="background-image: url(images/img_home_ex1.png);">
                                                
                                                    <div class="uk-card uk-card-large uk-card-body">
                                                        <p>Ver más</p>
                                                    </div>
                                            </div>
                                            <div class="footerViviendas uk-width-1-1">
                                                    <div class="uk-float-left" style="margin-top: 6px">
                                                        <p class="nomarginb">Casa de los dibujos</p>
                                                        <p class="nomargint uk-text-left">Inquilinos: (4)</p>
                                                    </div>

                                                    <div class="uk-navbar-container uk-float-right" style="margin-top: 5px">
                                                        <div class="uk-navbar-center" style="background: #fff;">
                                                            <ul class="uk-navbar-nav uk-width-1-1 uk-flex-around stars nomargint">
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5" ></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li class="uk-active">
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                                <li>
                                                                    <span uk-icon="icon: star; ratio: 0.5"></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </div>
                                        </a>
                                    </div>

                                </div>
                    </div>
                </div>

            </div>
    </section>